@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">WELCOME!</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

 <style>
body {
  background-image: url('bostonmuseum.jpg');
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;  

}
</style> 


