@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h2 class="display-4">WELCOME!</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

 <style>
body {
  background-image: url('bostonmuseum.jpg');
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;

}
</style>  *@
<style>
 body {
        background-image: url('1609.m00.i125.n001.s.c12.198623492 topographic contour lines vector map seamless pattern.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #black;
        font-family: 'Century Schoolbook';
    }

</style>
<div class="text-center" style="color: black ;">
    <h1><b>Welcome To The Art Museum </b></h1>
</div>
    <img src="~/Beige and Black Minimalist Article Page A4 Document.jpg" />
