@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All art generated in the "Art" tab belongs to the rightful artists and were found on the Met Museum's website via the proivded API by the museum. I do not own any of the works of art displayed. The "Art" tab background belongs to the Boston Museum. The "Home" page background 
    image belongs to the artist: Macrovector'.</p>
